<p id="notice"><%= notice %></p>

<h1>Listing Uploads</h1>

<table>
  <thead>
    <tr>
      <th>NAME</th>
      <th>URL</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @uploads.each do |upload| %>
      <tr>
        <td><%= upload.name %></td>
        <td><%= upload.url %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
<h4>Import that Dta</h4>
<%= link_to 'New Upload', new_upload_path %>
</div>div>